<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="afoo_robot">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_mock_hardware" default="false" />

  <xacro:include filename="$(find afoo)/description/urdf/afoo_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find afoo)/description/urdf/afoo.materials.xacro" />

  <!-- Import afoo ros2_control description -->
  <xacro:include filename="$(find afoo)/description/ros2_control/afoo.ros2_control.xacro" />

  <xacro:afoo prefix="$(arg prefix)" />

  <xacro:afoo_ros2_control
    name="afoo" prefix="$(arg prefix)" use_mock_hardware="$(arg use_mock_hardware)"/>

</robot>
